.address-change {
    margin: 0 auto;
    max-width: 1540px;
    margin-top: 48px;
    text-align: center;
}

.address-change__header {
    margin-bottom: 103px;
    
}

.address-change__header-title {
    font-size: 36px;
}

.address-change__form {
    margin: 0 auto;
    width: 680px;
    
}

.form__group {
    width: 100%;
    margin-top: 68px;
}

.form__group-title {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
}

.form__input {
    padding: 10px;
    width: 100%;
    height: 45px;
    border: 1px solid #5f5f5f;
    border-radius: 4px;

    appearance: none;
}

.form__button {
    margin-top: 111px;
    margin-bottom: 120px;
}

.form__button-submit {
    padding: 10px;
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 5px;
    background: #ff5555;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
}