.header {
    background: #000;
    height: 82px;
}

.header__content {
    max-width: 1540px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__logo {
    margin: 0;
    padding-left: 25px;
}

.header__logo-img {
    width: 370px;
    height: 36px;
    display: block;
}

.search-form__item {
    width: 500px;
    height: 50px;
    padding-left: 20px;
    font-size: 24px;
}

.header__link {
    width: 135px;
    height: 47px;
    color: #fff;
    border: none;
    background: transparent;
    font-size: 24px;
    cursor: pointer;
}

.header__link--sell {
    width: 100px;
    height: 50px;
    margin-right: 20px;
    color: #000;
    background: #fff;
    font-size: 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}