.header {
    background: #000;
    height: 82px;
}

.header__content {
    max-width: 1540px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__logo {
    margin: 0;
    padding-left: 25px;
}

.header__logo-img {
    width: 370px;
    height: 36px;
    display: block;
}

.search-form__item {
    width: 500px;
    height: 50px;
    padding-left: 20px;
    font-size: 24px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
}

.header__link {
    width: 135px;
    height: 47px;
    padding: 5px 0;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}

.header__link--logout {
    width: 135px;
    height: 47px;
    margin-right: 20px;
    color: #fff;
    border: none;
    background: transparent;
    font-size: 24px;
    cursor: pointer;
}

.header__link--sell {
    width: 100px;
    height: 50px;
    margin: 0 25px;
    padding: 5px 0;
    color: #000;
    text-decoration: none;
    text-align: center;
    background: #fff;
    font-size: 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@media screen and (max-width: 850px) and (min-width: 768px) {
    .header {
        height: 49px;
    }

    .header__logo {
        padding-left: 13px;
    }

    .header__logo-img {
        width: 205px;
        height: 20px;
    }

    .search-form__item {
        width: 270px;
        height: 28px;
        padding-left: 10px;
        font-size: 13px;
    }

    .header__link {
        width: 70px;
        height: 25px;
        padding: 2.5px 0;
        font-size: 13px;
    }

    .header__link--logout {
        width: 68px;
        height: 24px;
        margin-right: 10px;
        font-size: 13px;
    }

    .header__link--sell {
        width: 50px;
        height: 25px;
        margin: 0 13px;
        padding: 2.5px 0;
        font-size: 13px;
        border-radius: 4px;
    }
}