.header {
    background: #000;
    height: 82px;
}

.header__container {
    max-width: 1512px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__main {
    width: 68%;
    display: flex;
    align-items: center;
}

.header__logo {
    margin: 0;
    margin-left: 40px;
}

.header__logo-img {
    width: 370px;
    height: 36px;
    display: block;
}

.search-form {
    width: 60%;
    height: 50px;
    margin-left: 95px;
}

.search-form__item {
    width: 100%;
    height: 100%;
    padding-left: 20px;
    font-size: 24px;
}

.header-nav {
    width: 28%;
    margin-right: 20px;
}

.nav__list {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.nav__item {
    width: 37%;
}

.nav__item--button {
    width: 26%;
}

.nav__link,
.nav__link--login {
    display: block;
    width: 100%;
    height: 47px;
    padding: 5px 0;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    cursor: pointer;
}

.nav__link--login {
    text-align: right;
}

.nav__link--logout {
    display: block;
    width: 100%;
    height: 47px;
    padding: 0;
    text-align: right;
    color: #fff;
    border: none;
    background: transparent;
    font-size: 24px;
    cursor: pointer;
}

.nav__link--sell {
    display: block;
    width: 100%;
    height: 50px;
    padding: 5px 0;
    color: #000;
    text-decoration: none;
    text-align: center;
    background: #fff;
    font-size: 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.fab-sell {
    display: none;
}

@media screen and (min-width:768px) and (max-width: 850px) {
    .header {
        height: 120px;
        padding: 0 20px;
    }

    .header__container {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
    }

    .header__main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50%;
        width: 100%;
    }

    .header__logo {
        margin-left: 0;
    }

    .header__logo-img {
        width: 259px;
        height: 25px;
    }

    .search-form {
        height: 35px;
        margin-left: 0;
    }

    .search-form__item {
        padding-left: 10px;
        font-size: 18px;
    }

    .header-nav {
        width: 50%;
        margin: 0 0 0 auto;
    }

    .nav__item--button {
        display: none;
    }

    .nav__link,
    .nav__link--login,
    .nav__link--logout {
        height: 24px;
        padding: 0;
        font-size: 18px;
    }

    .fab-sell {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 64px;
        height: 64px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 50%;
        text-decoration: none;
        background: #ff5555;
        color: #fff;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
        z-index: 1000;
    }
}