.header {
    background: #000;
    height: 82px;
}

.header__container {
    max-width: 1512px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__main {
    display: flex;
    align-items: center;
}

.header__logo {
    margin: 0;
    margin-left: 40px;
}

.header__logo-img {
    width: 370px;
    height: 36px;
    display: block;
}

.search-form__item {
    width: 500px;
    height: 50px;
    padding-left: 20px;
    margin-left: 95px;
    font-size: 24px;
}

.header-nav {
    width: 28%;
    margin-right: 40px;
}

.nav__list {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.nav__link {
    width: 135px;
    height: 47px;
    padding: 5px 0;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}

.nav__link--logout {
    width: 135px;
    height: 47px;
    color: #fff;
    border: none;
    background: transparent;
    font-size: 24px;
    cursor: pointer;
}

.nav__link--sell {
    display: block;
    width: 100px;
    height: 50px;
    padding: 5px 0;
    color: #000;
    text-decoration: none;
    text-align: center;
    background: #fff;
    font-size: 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@media screen and (max-width: 850px) and (min-width: 768px) {
    .header {
        height: 120px;
        padding: 0 20px;
    }

    .header__container {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
    }

    .header__main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50%;
        width: 100%;
    }

    .header__logo {
        margin-left: 0;
    }

    .header__logo-img {
        width: 259px;
        height: 25px;
    }

    .search-form__item {
        width: 380px;
        height: 35px;
        padding-left: 10px;
        margin-left: 0;
        font-size: 18px;
    }

    .header-nav {
        width: 100%;
        margin-right: 0;
    }

    .nav__link {
        width: 95px;
        height: 24px;
        padding: 2.5px 0;
        font-size: 18px;
    }

    .nav__link--logout {
        width: 95px;
        height: 24px;
        font-size: 18px;
    }

    .nav__link--sell {
        width: 80px;
        height: 40px;
        padding: 5px 0;
        font-size: 18px;
        border-radius: 4px;
    }
}