.tabs {
    height: 47px;
    display: flex;
    gap: 52px;
    border-bottom: 2px solid #5f5f5f;
    margin-top: 50px;
    padding-left: 129px;
}

.item__tab {
    width: 155px;
    height: 40px;
    text-align: right;
    text-decoration: none;
    color: #5f5f5f;
    font-size: 24px;
    font-weight: bold;
}

.item__tab--active {
    width: 155px;
    height: 40px;
    text-align: right;
    text-decoration: none;
    color: #ff0000;
    font-size: 24px;
    font-weight: bold;
}

.items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    width: 90%;
    margin: 80px auto;
}

.item-card {
    width: 290px;
    break-inside: avoid;
}

.item-card__img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
}

.item-card__info {
    display: flex;
    justify-content: space-between;
}

.item-card__name {
    font-size: 25px;
    margin-top: 5px;
}

.item-card__status {
    font-size: 20px;
    color: #ff0000;
    margin-top: 5px;
}

@media screen and (max-width: 850px) and (min-width: 768px) {
    .tabs {
        height: 35px;
        gap: 35px;
        margin-top: 30px;
        padding-left: 65px;
    }

    .item__tab, .item__tab--active {
        width: 90px;
        height: 30px;
        font-size: 18px;
    }

    .items {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin: 45px auto;
    }

    .item-card {
        width: 200px;
    }

    .item-card__name {
        font-size: 20px;
        margin-top: 3px;
    }

    .item-card__status {
        font-size: 16px;
        margin-top: 3px;
    }

}