.item-detail {
    display: flex;
    gap: 80px;
    max-width: 1540px;
    margin: 90px auto;
    width: 90%;
}

.item-detail__img-wrapper {
    width: 50%;
}

.item-detail__img {
    width: 600px;
    height: 600px;
    margin: 36px 45px;
    border-radius: 4px;
}

.item-detail__content {
    width: 50%;
}

.item-detail__name {
    font-size: 45px;
    margin: 0;
    padding: 5px 0;
}

.item-detail__brand {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.item-detail__price {
    font-size: 45px;
    margin: 10px 0;
}

.item-detail__price--symbol,
.item-detail__price--tax {
    font-size: 30px;
}

.item-detail__reactions {
    display: flex;
    gap: 60px;
    margin: 20px 45px;
}

.item-detail__like {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.like-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.like-icon {
    width: 45px;
    height: 40px;
}

.like-count {
    font-size: 18px;
    font-weight: bold;
}

.item-detail__comment {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-icon {
    width: 40px;
    height: 40px;
}

.comment-count {
    font-size: 18px;
    font-weight: bold;
}

.item-purchase {
    margin: 22px auto;
}

.item-purchase__button {
    display: inline-block;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    width: 100%;
    height: 56px;
    background: #FF5555;
    border: none;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.item-detail__description {
    font-size: 36px;
}

.item-detail__description-text {
    font-size: 24px;
    margin: 50px 0;
}

.item-detail__info {
    font-size: 36px;
}

.info-table {

}

.info-table__inner {

}

.info-table__row {

}

.info-table__header {
    font-size: 24px;
    font-weight: bold;
}

.info-table__item {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    font-size: 20px;
    margin-left: 60px;
}

.info-table__item-category {
    background: #d9d9d9;
    border-radius: 15px;
    padding: 0 15px;
}

.info-table__item-condition {
    padding: 0 30px;
}

.comment {
    font-size: 36px;
    font-weight: bold;
    color: #5f5f5f;
}

.comment-user {
    display: flex;
}

.comment-user__img {
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

.comment-user__name {
    font-size: 30px;
    font-weight: bold;
}

.comment-content {
    background: #e5e5e5;
    width: 100%;
}

.comment-content__text {
    font-size: 20px;
    padding: 20px 15px;
}

.comment-form__title {
    font-size: 28px;
    margin-bottom: 5px;
}

.comment-form__text {
    width: 100%;
    height: 246px;
    font-size: 20px;
    padding: 10px;
    border: 2px solid #5f5f5f;
    border-radius: 5px;
}

.comment-form__button {
    width: 100%;
    margin: 50px auto;
}

.comment-form__button-submit {
    width: 100%;
    height: 56px;
    background: #ff5555;
    border: none;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
}