.item-detail {
    display: flex;
    gap: 80px;
    max-width: 1540px;
    margin: 90px auto;
    width: 90%;
}

.item-detail__image-wrapper {
    width: 50%;
}

.item-detail__image {
    width: 600px;
    height: 600px;
    margin: 36px 45px;
    border-radius: 4px;
}

.item-detail__content {
    width: 50%;
}

.item-detail__name {
    font-size: 45px;
    margin: 0;
    padding: 5px 0;
}

.item-detail__brand {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.item-detail__price {
    font-size: 45px;
    margin: 10px 0;
}

.item-detail__price--yen,
.item-detail__price--tax {
    font-size: 30px;
}

.item-detail__reactions {
    display: flex;
    gap: 60px;
    margin: 20px 45px;
}

.item-detail__like {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.like-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.like-icon {
    width: 45px;
    height: 40px;
}

.like-count {
    font-size: 18px;
    font-weight: bold;
}

.item-detail__comment {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-icon {
    width: 40px;
    height: 40px;
}

.comment-count {
    font-size: 18px;
    font-weight: bold;
}

.item-purchase {
    margin: 22px auto;
}

.item-purchase__button {
    display: inline-block;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    width: 100%;
    height: 56px;
    background: #FF5555;
    border: none;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.item-detail__description {
    font-size: 36px;
}

.item-detail__description-text {
    font-size: 24px;
    margin: 50px 0;
}

.item-detail__info {
    font-size: 36px;
}

.info-table {
    width: 100%;
    margin-bottom: 40px;
}

.info-table__inner {
    width: 100%;
}

.info-table__header {
    width: 28%;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

.info-table__item {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 36px;
    font-size: 20px;
    margin-left: 60px;
}

.info-table__item-category {
    background: #d9d9d9;
    border-radius: 15px;
    padding: 0 15px;
    margin: 0;
}

.info-table__item-condition {
    padding: 0 30px;
}

.comment {
    font-size: 36px;
    font-weight: bold;
    color: #5f5f5f;
    margin-bottom: 30px;
}

.comment-user {
    display: flex;
    align-items: center;
}

.comment-user__img {
    width: 70px;
    height: 70px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
}

.profile__image-default {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    background-color: #d9d9d9;
}

.comment-user__name {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    margin-left: 18px;
}

.comment-content {
    background: #e5e5e5;
    border-radius: 5px;
    width: 100%;
    margin: 10px 0;
}

.comment-content__text {
    font-size: 20px;
    font-weight: 300;
    padding: 20px 15px;
}

.comment-form__title {
    font-size: 28px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 5px;
}

.comment-form__text {
    width: 100%;
    height: 246px;
    font-size: 20px;
    padding: 10px;
    border: 2px solid #5f5f5f;
    border-radius: 5px;
}

.comment-form__error {
    height: 18px;
    font-size: 18px;
    color: #ff0000;
    text-align: left;
}

.comment-form__button {
    width: 100%;
    margin: 50px auto;
}

.comment-form__button-submit {
    width: 100%;
    height: 56px;
    background: #ff5555;
    border: none;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
}

@media screen and (max-width: 850px) {
    .item-detail {
        flex-direction: column;
        gap: 30px;
        margin: 30px auto;
    }

    .item-detail__image-wrapper {
        width: 90%;
    }

    .item-detail__image {
        width: 100%;
    }

    .item-detail__content {
        margin: 0 auto;
        width: 90%;
    }

    .item-detail__name {
        font-size: 35px;
        padding: 0;
    }

    .item-detail__brand {
        font-size: 18px;
    }

    .item-detail__price {
        font-size: 35px;
    }

    .item-detail__price--yen,
    .item-detail__price--tax {
        font-size: 26px;
    }

    .item-detail__reactions {
        gap: 50px;
        margin: 20px 30px;
    }

    .like-icon {
        width: 35px;
        height: 30px;
    }

    .like-count, .comment-count {
        font-size: 16px;
    }

    .comment-icon {
        width: 30px;
        height: 30px;
    }

    .item-purchase__button {
        padding: 7px;
        height: 55px;
        font-size: 26px;
    }

    .item-detail__description, .item-detail__info {
        font-size: 30px;
    }

    .item-detail__description-text {
        font-size: 22px;
        margin: 35px 0;
    }

    .info-table {
        margin-bottom: 35px;
    }

    .info-table__header {
        font-size: 22px;
    }

    .info-table__item {
        gap: 15px;
        font-size: 18px;
        margin-left: 50px;
    }

    .info-table__item-condition {
        padding: 0 20px;
    }

    .comment {
        font-size: 30px;
        margin-bottom: 25px;
    }

    .comment-user__img, .profile__image-default {
        width: 60px;
        height: 60px;
    }

    .comment-user__name {
        font-size: 26px;
    }

    .comment-content__text {
        font-size: 18px;
        padding: 15px;
    }

    .comment-form__title {
        font-size: 24px;
        margin-top: 35px;
    }

    .comment-form__text {
        height: 220px;
        font-size: 18px;
    }

    .comment-form__error {
        height: 16px;
        font-size: 16px;
    }

    .comment-form__button {
        width: 100%;
        margin: 50px auto;
    }

    .comment-form__button-submit {
        height: 55px;
        font-size: 22px;
    }
}