.login-form__content {
    margin: 0 auto;
    max-width: 1540px;
    margin-top: 118px;
}

.login-form__header {
    margin-bottom: 55px;
    text-align: center;
}

.login-form__header-title {
    font-size: 36px;
}

.form {
    margin: 0 auto;
    width: 680px;
    text-align: center;
}

.form__group {
    width: 100%;
    margin-bottom: 5px;
}

.form__group-title {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input {
    padding: 10px;
    width: 100%;
    height: 57px;
    border: 1px solid #5f5f5f;
    border-radius: 4px;

    appearance: none;
}

.form__button {
    margin-top: 60px;
}

.form__button-submit {
    padding: 10px;
    width: 100%;
    height: 65.25px;
    border: none;
    border-radius: 5px;
    background: #ff5555;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
}

.register__link {
    margin-top: 25px;
    margin-bottom: 40px;
    text-align: center;
}

.register__button-submit {
    font-size: 20px;
    color: #0073cc;
    text-decoration: none;
}

@media screen and (max-width: 850px) and (min-width: 768px) {
    .login-form__content {
        margin-top: 59px;
    }

    .login-form__header {
        margin-bottom: 28px;
    }

    .login-form__header-title {
        font-size: 24px;
    }

    .form {
        width: 340px;
    }

    .form__group-title {
        font-size: 14px;
    }

    .form__error {
        font-size: 12px;
        height: 14px;
    }

    .form__input {
        padding: 5px;
        height: 29px;
    }

    .form__button {
        margin-top: 30px;
    }

    .form__button-submit {
        padding: 4px;
        height: 32px;
        font-size: 16px;
    }

    .register__link {
        margin-top: 13px;
        margin-bottom: 20px;
    }

    .register__button-submit {
        font-size: 12px;
    }

}