.mypage {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 75px auto;
}

.mypage-user {
    display: flex;
    align-items: center;
    margin-left: 90px;
}

.mypage-user__img {
    width: 150px;
    height: 150px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
}

.profile__image-default {
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 50%;
    background-color: #d9d9d9;
}

.mypage-user__name {
    margin-left: 50px;
    font-size: 36px;
    font-weight: bold;
}

.profile-edit__button {
    display: inline-block;
    text-align: center;
    width: 310px;
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
    border: 2px solid #ff5555;
    border-radius: 10px;
    color: #ff5555;
    padding: 10px;
    cursor: pointer;
}

.tabs {
    height: 47px;
    display: flex;
    gap: 52px;
    border-bottom: 2px solid #5f5f5f;
    margin-top: 50px;
    padding-left: 129px;
}

.mypage__tab {
    width: 155px;
    height: 40px;
    text-align: right;
    text-decoration: none;
    color: #5f5f5f;
    font-size: 24px;
    font-weight: bold;
}

.mypage__tab--active {
    width: 155px;
    height: 40px;
    text-align: right;
    text-decoration: none;
    color: #ff0000;
    font-size: 24px;
    font-weight: bold;
}

.items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    width: 90%;
    margin: 80px auto;
}

.item-card {
    width: 290px;
    break-inside: avoid;
}

.item-card__img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
}

.item-card__info {
    display: flex;
    justify-content: space-between;
}

.item-card__name {
    font-size: 25px;
    margin-top: 5px;
}

.item-card__status {
    font-size: 20px;
    color: #ff0000;
    margin-top: 5px;
}

@media screen and (max-width: 850px) {
    .mypage {
        margin: 60px auto;
    }

    .mypage-user {
        margin-left: 70px;
    }

    .mypage-user__img, .profile__image-default {
        width: 100px;
        height: 100px;
    }

    .mypage-user__name {
        margin-left: 30px;
        font-size: 30px;
    }

    .profile-edit__button {
        width: 280px;
        font-size: 23px;
        padding: 10px;
    }

    .tabs {
        height: 40px;
        gap: 35px;
        margin-top: 30px;
        padding-left: 65px;
    }

    .mypage__tab, .mypage__tab--active {
        width: 120px;
        font-size: 20px;
    }

    .items {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin: 45px auto;
    }

    .item-card {
        width: 200px;
    }

    .item-card__name {
        font-size: 20px;
        margin-top: 3px;
    }

    .item-card__status {
        font-size: 16px;
        margin-top: 3px;
    }

}