.profile {
    margin: 0 auto;
    max-width: 1540px;
    margin-top: 60px;
}

.profile__header {
    margin-bottom: 40px;
    text-align: center;
}

.profile__header-title {
    font-size: 36px;
}

.profile__form {
    margin: 0 auto;
    width: 680px;
    text-align: center;
}

.form__group {
    width: 100%;
    margin-top: 50px;
}

.profile__image {
    display: flex;
    align-items: center;
}

.profile__image-preview {
    width: 150px;
    height: 150px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
}

.profile__image-default {
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 50%;
    background-color: #d9d9d9;
}

.profile__image-select {
    margin-left: 40px;
    border: 2px solid #ff5555;
    border-radius: 10px;
    color: #ff5555;
    padding: 10px;
    cursor: pointer;
}

.image__select-item {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.form__group-title {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
}

.form__input {
    padding: 10px;
    width: 100%;
    height: 55px;
    border: 1px solid #5f5f5f;
    border-radius: 4px;

    appearance: none;
}

.form__button {
    margin-top: 60px;
    margin-bottom: 100px;
}

.form__button-submit {
    padding: 10px;
    width: 100%;
    height: 65.25px;
    border: none;
    border-radius: 5px;
    background: #ff5555;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
}