.purchase {
    max-width: 1540px;
    margin: 93px 80px;
    display: flex;
}

.purchase-info {
    width: 55%;
}

.purchase-item {
    display: flex;
    margin-bottom: 52px;
}

.purchase-item__image-container {
    width: 177.53px;
    height: 177.53px;
}

.purchase-item__image {
    width: 100%;
}

.purchase-item__content {
    margin-left: 55px;
}

.purchase-item__name {
    font-size: 30px;
    margin: 0;
}

.purchase-item__price {
    font-size: 32px;
    margin-top: 20px;
}

.purchase-item__price--yen {
    font-size: 27px;
}

.purchase-payment {
    border-top: 1px solid #000;
}

.purchase-payment__title {
    margin-left: 35px;
    padding: 25px 0;
    font-size: 20px;
    text-align: left;
}

.payment {
    width: 265px;
    text-align: left;
    position: relative;
    margin-left: 96px;
    margin-bottom: 63px;
}

.payment__select {
    display: block;
    width: 100%;
    height: 31px;
    border: 1px solid #5f5f5f;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #5f5f5f;
    padding: 3.5px;
    cursor: pointer;
    position: relative;
}

.payment__select::after {
    content: "▼";
    position: absolute;
    right: 6px;
    font-size: 13px;
    color: #5f5f5f;
}

.payment__select-list {
    position: absolute;
    width: 100%;
    margin-top: -31px;
    padding: 4px;
    border: 1.5px solid #b1b1b1;
    border-top: none;
    border-radius: 5px;
    background: #636769;
}

.payment-form__button-submit {
    width: 100%;
    text-align: left;
    padding: 4px 16px;
    font-size: 12px;
    cursor: pointer;
    border: none;
    background: #636769;
    color: #eaeaea;
    position: relative;
}

.payment-form__button-submit.is-active {
    background: #5599eb;
    border-radius: 5px;
}

.payment-form__button-submit.is-active::before {
    content: "✔";
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    left: 4px;
}

.purchase-address {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.purchase-address__wrapper {
    display: flex;
    justify-content: space-between;
}

.purchase-address__title {
    margin-left: 35px;
    padding: 25px 0;
    font-size: 20px;
    text-align: left;
}

.purchase-address__change-link {
    width: 115px;
    height: 85px;
    padding: 35px 0;
    font-size: 20px;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
}

.purchase-address__item {
    margin-left: 96px;
    margin-bottom: 59px;
    font-size: 20px;
    font-weight: 600;
}

.purchase-address__item-post {
    margin: 0;
    margin-bottom: 10px;
}

.purchase-address__item-address {
    margin: 0;
}

.purchase-subtotal {
    width: 35%;
    margin: 0 0 0 auto;
}

.subtotal-table {
    width: 100%;
}

.subtotal-table__inner {
    width: 100%;
    border: 1px solid #000;
    text-align: center;
    vertical-align: middle;
}

.subtotal-table__row {
    border-bottom: 1px solid #000;
    height: 115px;
}

.subtotal-table__row:last-child {
    border-bottom-width: 0;
}

.subtotal-table__header {
    width: 50%;
    font-size: 20px;
    font-weight: 400;
}

.subtotal-table__price {
    width: 50%;
    font-size: 28px;
}

.subtotal-table__price--yen {
    font-size: 20px;
}

.subtotal-table__payment {
    width: 50%;
    font-size: 24px;
}

.form__button {
    margin-top: 66px;
}

.form__button-submit {
    padding: 10px;
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 5px;
    background: #ff5555;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (max-width: 850px) {
    .purchase {
        margin: 80px auto;
        flex-direction: column;
    }

    .purchase-info {
        width: 80%;
        margin: 0 auto;
    }

    .purchase-item {
        margin-bottom: 45px;
    }

    .purchase-item__image-container {
        width: 200px;
        height: 200px;
    }

    .purchase-item__name {
        font-size: 26px;
    }

    .purchase-item__price {
        font-size: 28px;
        margin-top: 10px;
    }

    .purchase-item__price--yen {
        font-size: 23px;
    }

    .purchase-payment__title {
        padding: 15px 0;
        font-size: 18px;
    }

    .payment {
        margin-bottom: 45px;
    }

    .purchase-address__title {
        padding: 15px 0;
        font-size: 18px;
    }

    .purchase-address__change-link {
        font-size: 18px;
    }

    .purchase-address__item {
        margin-bottom: 45px;
        font-size: 18px;
    }

    .purchase-subtotal {
        width: 80%;
        margin: 70px auto;
    }

    .subtotal-table {
        width: 80%;
        margin: 0 auto;
    }

    .subtotal-table__row {
        height: 100px;
    }

    .subtotal-table__header, .subtotal-table__price--yen {
        font-size: 18px;
    }

    .subtotal-table__price {
        font-size: 24px;
    }

    .subtotal-table__payment {
        font-size: 22px;
    }

    .form__button {
        width: 80%;
        margin: 60px auto;
    }

    .form__button-submit {
        padding: 3px;
        height: 45px;
        font-size: 23px;
    }
}